In [27]:
import pandas as pd

percapitaGDP=pd.read_excel('C:/data-cleansing-main/Chapter01/data/GDPpercapita.xlsx',
                           sheet_name='OECD.Stat export',                               # 불러올 시트를 지정
                           skiprows=4,                                                  # 건너뛸 행 지정
                           skipfooter=1,                                                # 마지막 행 건너뜀(?)
                           usecols="A,C:T")                                             # A, C~T 열을 가지고 오도록 설정
percapitaGDP

,Year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Metropolitan areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUS: Australia,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,AUS01: Greater Sydney,43313,44008,45424,45837,45423,45547,45880,45225,45900,45672,46535,47350,47225,48510,50075,50519,50578,49860
3,AUS02: Greater Melbourne,40125,40894,41602,42188,41484,41589,42316,40975,41384,40943,41165,41264,41157,42114,42928,42671,43025,42674
4,AUS03: Greater Brisbane,37580,37564,39080,40762,42976,44475,44635,46192,43507,42774,44166,43764,43379,43754,44388,45723,46876,46640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,USA164: Linn,53047,51751,54894,58660,60195,58244,61742,60002,63176,66241,66516,66029,64187,67125,69490,69645,67553,68683
698,USA165: Lafayette (IN),38057,38723,39173,40412,40285,40879,41717,41232,37789,40621,41822,40280,41341,41680,41763,42370,42562,44206
699,USA167: Weber,34592,34997,35587,35776,37613,41213,41554,39321,38819,38171,37716,37141,36816,37418,39144,39950,40846,40930
700,USA169: Cass,44597,46856,49043,49134,49584,50417,51596,52285,49945,51396,53001,57056,56906,57475,57402,56600,55201,56094
701,USA170: Benton (AR),41988,44687,45296,47799,49260,47329,45503,44040,42369,43366,43168,44525,47191,48526,49483,48955,49987,49872

### info() 로 각 열의 자료형, NaN이 아닌 행의 수 확인

In [28]:
percapitaGDP.info()     # 각 열의 자료형, NaN이 아닌 행의 수 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    702 non-null    object
 1   2001    701 non-null    object
 2   2002    701 non-null    object
 3   2003    701 non-null    object
 4   2004    701 non-null    object
 5   2005    701 non-null    object
 6   2006    701 non-null    object
 7   2007    701 non-null    object
 8   2008    701 non-null    object
 9   2009    701 non-null    object
 10  2010    701 non-null    object
 11  2011    701 non-null    object
 12  2012    701 non-null    object
 13  2013    701 non-null    object
 14  2014    701 non-null    object
 15  2015    701 non-null    object
 16  2016    701 non-null    object
 17  2017    701 non-null    object
 18  2018    701 non-null    object
dtypes: object(19)
memory usage: 104.3+ KB

### 열 이름 변경 후, 해당 열 데이터들의 공백 제거
- str.startswith / str.endswith / str.strip

In [29]:
percapitaGDP.rename(columns={'Year':'metro'},inplace=True)
percapitaGDP['metro'].str.startswith(' ').any()             # metro 값 중 도시 이름 앞, 뒤에 공백이 추가될 수 있다. 앞을 검사하려면 startswith()
percapitaGDP['metro'].str.endswith(' ').any()               # 뒤를 검사하려면 endswith()를 사용한다. any()는 그런 행이 있는지 검사한다는 것
percapitaGDP['metro']=percapitaGDP['metro'].str.strip()     # strip으로 앞 뒤 공백 제거, 이 모든 함수는 str 안에 있는 것인 듯

### for 문으로 열 이름 변경 및 각 열의 데이터를 정수형으로 변환
- errors='coerce' 으로 강제 변환 가능

In [30]:
# 데이터 열들을 숫자로 변환
for col in percapitaGDP.columns[1:]:
    percapitaGDP[col]=pd.to_numeric(percapitaGDP[col],errors='coerce')      # 강제로(coerce) float 자료형으로 변환, 변환 불가능한 것은 결측값으로 바뀜
    percapitaGDP.rename(columns={col:'pcGDP'+col},inplace=True)             # 컬럼 이름 바꾸기, 컬럼 이름이 숫자면 구문 오류로 사용하기 힘들다!

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.000000,440.000000,440.000000,440.000000,447.000000,447.000000,447.000000,455.000000,471.000000,471.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,445.000000,441.000000
mean,41263.658019,41015.070455,41553.361364,42473.022727,42881.143177,43987.762864,44786.760626,44533.958242,42724.316348,43433.511677,43946.966667,44075.937500,44302.154167,44942.493750,45802.220833,46243.666667,47489.089888,48032.668934
std,11877.960193,12536.516772,12456.583153,12621.901150,13172.229181,13450.431995,13693.732714,14082.871703,13602.723246,13896.775080,14018.472002,14170.164166,14251.392256,14421.619849,14948.683819,14938.549380,15463.803389,15719.725615
min,10988.000000,11435.000000,11969.000000,12777.000000,13062.000000,13855.000000,13937.000000,2236.000000,2202.000000,2227.000000,2363.000000,2572.000000,2700.000000,2683.000000,2761.000000,2796.000000,2745.000000,2832.000000
25%,33139.250000,32636.000000,33284.750000,33864.500000,33735.500000,34540.000000,35226.000000,35094.000000,33730.000000,34294.500000,34582.750000,34808.750000,35113.750000,35766.250000,36128.500000,36584.750000,37316.000000,37908.000000
50%,39543.500000,39683.500000,40390.500000,41200.500000,41609.000000,42929.000000,43461.000000,43287.000000,41250.000000,41627.000000,42345.000000,42131.500000,42154.500000,42777.500000,43237.500000,43931.500000,45385.000000,46057.000000
75%,47971.750000,48611.000000,49354.750000,50468.250000,51025.000000,52304.000000,53043.500000,53132.000000,50739.500000,51428.500000,52568.750000,52569.750000,53087.500000,53737.250000,54134.250000,54449.750000,56023.000000,56638.000000
max,91488.000000,93566.000000,98123.000000,96242.000000,101084.000000,121053.000000,122897.000000,120158.000000,114486.000000,119658.000000,119965.000000,117348.000000,123709.000000,121011.000000,121623.000000,117879.000000,122242.000000,127468.000000

In [31]:
print(percapitaGDP.dtypes)
percapitaGDP.describe()

metro         object
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
dtype: object

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
count,424.000000,440.000000,440.000000,440.000000,447.000000,447.000000,447.000000,455.000000,471.000000,471.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,445.000000,441.000000
mean,41263.658019,41015.070455,41553.361364,42473.022727,42881.143177,43987.762864,44786.760626,44533.958242,42724.316348,43433.511677,43946.966667,44075.937500,44302.154167,44942.493750,45802.220833,46243.666667,47489.089888,48032.668934
std,11877.960193,12536.516772,12456.583153,12621.901150,13172.229181,13450.431995,13693.732714,14082.871703,13602.723246,13896.775080,14018.472002,14170.164166,14251.392256,14421.619849,14948.683819,14938.549380,15463.803389,15719.725615
min,10988.000000,11435.000000,11969.000000,12777.000000,13062.000000,13855.000000,13937.000000,2236.000000,2202.000000,2227.000000,2363.000000,2572.000000,2700.000000,2683.000000,2761.000000,2796.000000,2745.000000,2832.000000
25%,33139.250000,32636.000000,33284.750000,33864.500000,33735.500000,34540.000000,35226.000000,35094.000000,33730.000000,34294.500000,34582.750000,34808.750000,35113.750000,35766.250000,36128.500000,36584.750000,37316.000000,37908.000000
50%,39543.500000,39683.500000,40390.500000,41200.500000,41609.000000,42929.000000,43461.000000,43287.000000,41250.000000,41627.000000,42345.000000,42131.500000,42154.500000,42777.500000,43237.500000,43931.500000,45385.000000,46057.000000
75%,47971.750000,48611.000000,49354.750000,50468.250000,51025.000000,52304.000000,53043.500000,53132.000000,50739.500000,51428.500000,52568.750000,52569.750000,53087.500000,53737.250000,54134.250000,54449.750000,56023.000000,56638.000000
max,91488.000000,93566.000000,98123.000000,96242.000000,101084.000000,121053.000000,122897.000000,120158.000000,114486.000000,119658.000000,119965.000000,117348.000000,123709.000000,121011.000000,121623.000000,117879.000000,122242.000000,127468.000000

### 결측값 처리
- 지정된 모든 열의 값이 누락되었을 때 드롭

In [36]:
percapitaGDP.dropna(subset=percapitaGDP.columns[1:],how='all',inplace=True)     # 지정된 열의 모든 값이 누락되었을 때 드롭한다.
percapitaGDP.shape

(480, 19)

### 특정 컬럼을 인덱스로 지정

In [42]:
percapitaGDP['metro'].count()
percapitaGDP['metro'].nunique()                 # metro행의 행 갯수와 유일값의 갯수가 같으므로 모든 행이 유일하다고 볼 수 있다
percapitaGDP.set_index('metro',inplace=True)    # metro를 인덱스로 설정
percapitaGDP.head(5)

,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018
metro,,,,,,,,,,,,,,,,,,
AUS01: Greater Sydney,43313.0,44008.0,45424.0,45837.0,45423.0,45547.0,45880.0,45225.0,45900.0,45672.0,46535.0,47350.0,47225.0,48510.0,50075.0,50519.0,50578.0,49860.0
AUS02: Greater Melbourne,40125.0,40894.0,41602.0,42188.0,41484.0,41589.0,42316.0,40975.0,41384.0,40943.0,41165.0,41264.0,41157.0,42114.0,42928.0,42671.0,43025.0,42674.0
AUS03: Greater Brisbane,37580.0,37564.0,39080.0,40762.0,42976.0,44475.0,44635.0,46192.0,43507.0,42774.0,44166.0,43764.0,43379.0,43754.0,44388.0,45723.0,46876.0,46640.0
AUS04: Greater Perth,45713.0,47371.0,48719.0,51020.0,55278.0,60142.0,62551.0,63899.0,63616.0,70111.0,73715.0,72679.0,76153.0,70395.0,66544.0,66032.0,66424.0,70390.0
AUS05: Greater Adelaide,36505.0,37194.0,37634.0,37399.0,37604.0,38151.0,39049.0,38502.0,39538.0,39309.0,39223.0,39812.0,39855.0,40306.0,40295.0,39737.0,40115.0,39924.0

In [47]:
percapitaGDP.loc['AUS02: Greater Melbourne']        # loc: 인덱스를 기준으로 행 데이터 읽기, metro를 인덱스로 지정했기 때문에 가능
                                                    # iloc: 행 번호를 기준으로 행 데이터 읽기

pcGDP2001    40125.0
pcGDP2002    40894.0
pcGDP2003    41602.0
pcGDP2004    42188.0
pcGDP2005    41484.0
pcGDP2006    41589.0
pcGDP2007    42316.0
pcGDP2008    40975.0
pcGDP2009    41384.0
pcGDP2010    40943.0
pcGDP2011    41165.0
pcGDP2012    41264.0
pcGDP2013    41157.0
pcGDP2014    42114.0
pcGDP2015    42928.0
pcGDP2016    42671.0
pcGDP2017    43025.0
pcGDP2018    42674.0
Name: AUS02: Greater Melbourne, dtype: float64