### 변수 유형별 데이터 분석 - 범주형, 연속형
- 범주형: 빈도분석, 교차분석

In [5]:
# 범주형
import pandas as pd
import seaborn as sns

tips=sns.load_dataset("tips")

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
# tips 데이터 유형 확인
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [6]:
# 범주형 빈도 분석 - value_counts()
tips.value_counts('sex')
tips.value_counts('smoker')
tips.value_counts('day')
tips.value_counts('time')

time
Dinner    176
Lunch      68
dtype: int64

In [3]:
# 범주형 교차 분석 - pandas.cross_tab()
pd.crosstab(tips.sex,tips.day)  # 대괄호로 해도 됨
pd.crosstab(tips.sex,tips.day, margins=True)  # 누적값 cumulatives
pd.crosstab(tips.sex,tips.day).apply(lambda r:r/len(tips),axis=1)  # 전체 빈도 비율 확인, lambda는 어떻게 쓰는 거지?

day         Thur       Fri       Sat       Sun
sex
Male    0.122951  0.040984  0.241803  0.237705
Female  0.131148  0.036885  0.114754  0.073770

- 연속형: 기술통계

In [7]:
# 기술통계 출력 - describe()
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000