### cross_val_score
- kfold, skfold 등을 쉽게 사용할 수 있다.
- 분류 문제인지 회귀 문제인지에 따라서 저절로 더 좋은 교차검증 방법 사용
- cross_val_score(사용할 모델, X(데이터), Y(데이터), scoring(평가할 스코어링 방법), cv 몇 번 교차검증 할 것인가?, n_jobs(cpu사용대한 지정 -1이면 모든 cpu), verbose(진행상황에 대한 유무 보기), fit_params 등등 )
- 대부분이 이진 분류 기준!

In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.datasets import load_iris
import numpy as np

In [38]:
iris=load_iris()
dt_clf=DecisionTreeClassifier(random_state=111)

data=iris.data
target=iris.target

In [39]:
# 정확도
scores=cross_val_score(dt_clf,data,target,scoring='accuracy',cv=10)
print('정확도: ',np.round(scores,4))
print('정확도 평균: ',np.round(np.mean(scores),4))

# 정밀도
scores=cross_val_score(dt_clf,data,target,scoring='precision_macro',cv=10)
print('정밀도: ',np.round(scores,4))
print('정밀도 평균: ',np.round(np.mean(scores),4))

# 재현율
scores=cross_val_score(dt_clf,data,target,scoring='recall_macro',cv=10)
print('재현율: ',np.round(scores,4))
print('재현율 평균: ',np.round(np.mean(scores),4))

# f1 스코어
scores=cross_val_score(dt_clf,data,target,scoring='f1_macro',cv=10)
print('f1: ',np.round(scores,4))
print('f1 평균: ',np.round(np.mean(scores),4))

정확도:  [1.     0.9333 1.     0.9333 0.9333 0.8667 0.9333 0.9333 1.     1.    ]
정확도 평균:  0.9533
정밀도:  [1.     0.9444 1.     0.9444 0.9444 0.8667 0.9444 0.9444 1.     1.    ]
정밀도 평균:  0.9589
재현율:  [1.     0.9333 1.     0.9333 0.9333 0.8667 0.9333 0.9333 1.     1.    ]
재현율 평균:  0.9533
f1:  [1.     0.9327 1.     0.9327 0.9327 0.8667 0.9327 0.9327 1.     1.    ]
f1 평균:  0.953

[1.     0.9444 1.     0.9444 0.9444 0.8667 0.9444 0.9444 1.     1.    ]
0.9589

In [36]:
import seaborn as sns
titanic=sns.load_dataset('titanic')

titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [47]:
titanic_data=titanic[['survived','pclass','age','sibsp','parch','fare']]    # 분석에 필요한 컬럼만 뽑은 후

tt_x=titanic_data[['pclass','sibsp','parch','fare']]
tt_y=titanic_data['survived']

tt_scores=cross_val_score(dt_clf,tt_x,tt_y,scoring='accuracy',cv=10)
print('정확도',np.round(tt_scores,4))
print(np.round(np.mean(scores),4))

tt_scores=cross_val_score(dt_clf,tt_x,tt_y,scoring='precision',cv=10)
print('정밀도',np.round(tt_scores,4))
print(np.round(np.mean(scores),4))

tt_scores=cross_val_score(dt_clf,tt_x,tt_y,scoring='f1',cv=10)
print('f1',np.round(tt_scores,4))
print(np.round(np.mean(scores),4))

tt_scores=cross_val_score(dt_clf,tt_x,tt_y,scoring='recall',cv=10)
print('재현율',np.round(tt_scores,4))
print(np.round(np.mean(scores),4))

정확도 [0.6889 0.6404 0.6742 0.6292 0.6629 0.7528 0.6629 0.7753 0.7079 0.6854]
0.953
정밀도 [0.6667 0.5455 0.6316 0.52   0.5833 0.6875 0.5769 0.7188 0.6429 0.6522]
0.953
f1 [0.5    0.4286 0.4528 0.4407 0.4828 0.6667 0.5    0.697  0.5806 0.5172]
0.953
재현율 [0.4    0.3529 0.3529 0.3824 0.4118 0.6471 0.4412 0.6765 0.5294 0.4286]
0.953

- 왜 이렇게 다 높게 나오는 것인지.,,,

### cross_validate: 소요시간, train과 test에 대한 모든 정확도 점수

In [48]:
cv_scores=cross_validate(dt_clf,tt_x,tt_y,scoring='accuracy',cv=10,return_train_score=True)
print(cv_scores)

cv_scores=cross_validate(dt_clf,tt_x,tt_y,scoring='precision',cv=10,return_train_score=True)
print(cv_scores)

{'fit_time': array([0.00299263, 0.00299168, 0.0029912 , 0.00399017, 0.00299048,
       0.00199461, 0.00299144, 0.00299215, 0.0020225 , 0.00299072]), 'score_time': array([0.00199509, 0.00199556, 0.00099707, 0.00101948, 0.00199485,
       0.00199485, 0.00099707, 0.00099754, 0.00196838, 0.00099778]), 'test_score': array([0.68888889, 0.64044944, 0.6741573 , 0.62921348, 0.66292135,
       0.75280899, 0.66292135, 0.7752809 , 0.70786517, 0.68539326]), 'train_score': array([0.83895131, 0.84538653, 0.84413965, 0.84538653, 0.83915212,
       0.83790524, 0.840399  , 0.83541147, 0.840399  , 0.83541147])}
{'fit_time': array([0.00199461, 0.0029912 , 0.00199437, 0.00199723, 0.00298119,
       0.00299335, 0.00299215, 0.00199485, 0.00202203, 0.00196576]), 'score_time': array([0.00199485, 0.0019958 , 0.00199413, 0.00299025, 0.00299072,
       0.00199342, 0.00199461, 0.00301409, 0.00199413, 0.00299621]), 'test_score': array([0.66666667, 0.54545455, 0.63157895, 0.52      , 0.58333333,
       0.6875    , 0.57692308, 0.71875   , 0.64285714, 0.65217391]), 'train_score': array([0.91588785, 0.90350877, 0.8893617 , 0.88333333, 0.92417062,
       0.87711864, 0.87190083, 0.87606838, 0.88461538, 0.88546256])}

### 3가지 모델을 이용한 평가
- DecisionTreeClassifier(),RandomForestClassifier(),LogisticRegression()

In [49]:
model=[DecisionTreeClassifier(),RandomForestClassifier(),LogisticRegression()]
name=['DT','RF','LR']

for model, name in zip(model,name):
    print('###############사용한 알고리즘',name,'#####################')
    for score in ['accuracy','precision','recall','f1']:
        print(score)
        print('-')
        print(cross_val_score(model,tt_x,tt_y,scoring=score,cv=10))

###############사용한 알고리즘 DT #####################
accuracy
-
[0.68888889 0.61797753 0.66292135 0.64044944 0.66292135 0.75280899
 0.66292135 0.7752809  0.70786517 0.68539326]
precision
-
[0.66666667 0.5        0.63157895 0.5        0.58333333 0.6875
 0.6        0.72727273 0.64285714 0.66666667]
recall
-
[0.4        0.35294118 0.32352941 0.38235294 0.41176471 0.64705882
 0.44117647 0.70588235 0.52941176 0.45714286]
f1
-
[0.5        0.42857143 0.42307692 0.44067797 0.48275862 0.66666667
 0.50847458 0.6969697  0.59016393 0.51724138]
###############사용한 알고리즘 RF #####################
accuracy
-
[0.71111111 0.60674157 0.66292135 0.62921348 0.6741573  0.74157303
 0.69662921 0.78651685 0.70786517 0.70786517]
precision
-
[0.68       0.48275862 0.63636364 0.55555556 0.64285714 0.67647059
 0.63333333 0.72727273 0.64516129 0.64      ]
recall
-
[0.42857143 0.38235294 0.38235294 0.41176471 0.41176471 0.67647059
 0.55882353 0.79411765 0.55882353 0.51428571]
f1
-
[0.56666667 0.42622951 0.46428571 0.50793651 0.58064516 0.67647059
 0.5625     0.71428571 0.61538462 0.59016393]
###############사용한 알고리즘 LR #####################
accuracy
-
[0.61111111 0.60674157 0.70786517 0.66292135 0.70786517 0.66292135
 0.70786517 0.71910112 0.73033708 0.74157303]
precision
-
[0.5        0.47058824 0.7        0.56666667 0.7        0.57142857
 0.65384615 0.66666667 0.69230769 0.77272727]
recall
-
[0.28571429 0.23529412 0.41176471 0.5        0.41176471 0.47058824
 0.5        0.52941176 0.52941176 0.48571429]
f1
-
[0.36363636 0.31372549 0.51851852 0.53125    0.51851852 0.51612903
 0.56666667 0.59016393 0.6        0.59649123]

### 타이타닉 데이터 실습